    <body>
      <div class="header-container">
          <header class="wrapper clearfix">
              <h1 class="title"><a href="/">{{ site.title }}</a></h1>
              <p class="subtitle">{{ site.description }}</p>
              <nav>
                  <ul>
                      <li><a href="/">Blog</a> <a href="/feed.xml" class="rss"><img src="/images/feeds.png" alt="RSS feed" /></a></li>
                      <li><a href="/about">About</a></li>
                      <li><a href="/portfolio">Portfolio</a></li>
                      <li><a href="/contact">Contact</a></li>
                  </ul>
              </nav>
          </header>
      </div>
