<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{page.description | site.description}}" />
    <meta name="viewport" content="width=device-width" />
    {% if page.image %}<meta property="og:image" content="{{ site.url }}/images/{{ page.image }}" />{% endif %}
    {% if page.image %}<meta name="twitter:image" content="{{ site.url }}/images/{{ page.image }}" />{% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@ahmadalfy">
    <meta name="twitter:title" content="{{page.title | site.title}}">
    <meta name="twitter:description" content="{{page.description | site.description}}">
    <link rel="stylesheet" href="{{site.url}}/css/main.css?v=1.3" />
  </head>