    <body>
      <div class="header-container">
          <header class="wrapper clearfix">
              <h1 class="title"><a href="/">{{ site.name }}'s</a></h1>
              <h2 class="subtitle">Fun with Front-end development and <abbr title="World Wide Interweb">WWW</abbr></h2>
              <nav>
                  <ul>
                      <li><a href="/">Blog</a> <a href="/rss.xml" class="rss"><img src="/images/feeds.png" /></a></li>
                      <li><a href="/about">About</a></li>
                      <li><a href="/portfolio">Portfolio</a></li>
                      <li><a href="/contact">Contact</a></li>
                  </ul>
              </nav>
          </header>
      </div>
