---
layout: default
type: post
---
<h2 style="view-transition-name: post-{{page.date | date: '%s' }}">{{ page.title }}</h2>
<p class="meta" style="view-transition-name: date-{{page.date | date: '%s'}}">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>

{% if page.codepen %}
<script src="https://static.codepen.io/assets/embed/ei.js"></script>
{% endif %}

{% if page.codehighlighter %}
<link rel="stylesheet" href="{{site.url}}/css/prism.css?v=1.1">
<script src="{{site.url}}/scripts/prism.js?v=1.1"></script>
{% endif %}

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'ahmadalfys';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
