---
layout: default
type: post
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>

{% if page.codepen %}
<script src="https://static.codepen.io/assets/embed/ei.js"></script>
{% endif %}

{% if page.codehighlighter %}
<link rel="stylesheet" href="{{site.url}}/css/prism.css?v=1.30&languages=markup+css+clike+javascript+bash+css-extras+markdown+scss+sql+uri">
<script src="{{site.url}}/scripts/prism.js?v=1.30&languages=markup+css+clike+javascript+bash+css-extras+markdown+scss+sql+uri"></script>
{% endif %}

{% if page.mermaid %}
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
  mermaid.initialize();
</script>
{% endif %}

<script src="https://giscus.app/client.js"
  data-repo="ahmadalfy/blog"
  data-repo-id="MDEwOlJlcG9zaXRvcnkyMjI0OTc3NA=="
  data-category="Announcements"
  data-category-id="DIC_kwDOAVOBLs4CuepX"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="light"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async>
</script>
